// Define variables for your color scheme
$orange: #FE904B;
$rouge: #F26464;
$violet: #5216AA;
$jaune: #F8C347;
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
