// Define variables for your color scheme
$orange_dashboard: #FE904B;
$rouge_coupon: #F26464;
$violet_boutique: #6C4EAA;
$jaune_scanner: #F8C347;
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
