.dispatch-dashboard-menu {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  .btn-menu-1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .btn-menu-2 {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.statistiques-element {
  font-size: 20px;
  // border: 3px solid $jaune_scanner;
  border-radius: 10px;
  padding: 7px 24px;
  margin: 10px;
  background-color: $jaune_scanner;
  color:rgb(104, 104, 104);
}

.statistiques-title {
  font-size: 17px;
}

.size-title {
  font-size: 24px;
}