<head>
  <meta charset="UTF-8">
  <title>home</title>
  <%# <%= cl_image_tag("animationKOOKOO_qsthgt")%>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

</body>
