
<div class="container-scan">
  <video id="qr-video" style="height: 80vh; width: 100vw;"></video>
  <p id="console"></p>
</div>

<div>
  <button id="sweet-alert-demo" class="btn btn-danger">Scan valide</button>
  <button id="sweet-alert-demo2" class="btn btn-danger">Scan invalide</button>
</div>
