<h1>Salut</h1>

 <%= link_to 'Nouveau coupon', restaurant_offers_path(@restaurant), class: "btn btn-flat" %>
 <%= link_to 'Scanner', restaurant_offers_path(@restaurant), class: "btn btn-flat" %>
 <%= link_to 'Ma boutique', restaurant_offers_path(@restaurant), class: "btn btn-flat" %>
 <%= link_to 'Dashboard', restaurant_offers_path(@restaurant), class: "btn btn-flat" %>