<div class="container">
  <h2 class="text-violet text-center mb-5">MES OFFRES</h2>
    <%= form_tag restaurant_offers_path(@restaurant), method: :get do %>
      <%= link_to "offres archivées", "#", class: "btn-offre" %>
      <%= link_to "créer une offre", new_restaurant_offer_path(@restaurant), class: "btn-offre" %>
    <% end %>
    <% @offers.each do |offer| %>
    <%= link_to "#{offer.name}", restaurant_offer_path(@restaurant, offer)%>
    <% end %>
</div>

