<div class="container d-flex align-items-center justify-content-center container-home">
  <div class="dispatch-dashboard-menu">
  
    <div class="btn-menu btn-orange btn-menu-1">
      <%= image_tag 'search.png',class:"btn-menu__icon" %>
      <div class="btn-menu__name">
        rechercher
      </div>
    </div>


    <div class="btn-menu btn-yellow btn-menu-2">
      <%= image_tag 'bar-chart.png',class:"btn-menu__icon" %>
      <div class="btn-menu__name">
        statistiques
      </div>
    </div>
  

  <%# <%= link_to root_path do %>
    <%# <div class="btn-scanner">
      <%= image_tag 'left-arrow.png',class:"btn-menu__icon" %>
      <%# <div class="btn-menu__name">
      back
      </div> %>
    <%# </div> %>
  <%# <% end %>
  
  </div>
</div>