<div class="container d-flex align-items-center justify-content-center container-home">
  <div class="dispatch-dashboard-menu">
  
    <%= link_to vouchers_path(@restaurant) do %>
      <div class="btn-menu btn-orange btn-menu-1">
        <%= image_tag 'search.png',class:"btn-menu__icon" %>
        <div class="btn-menu__name">
          rechercher
        </div>
      </div>
    <% end %>

    <%= link_to statistiques_path(@restaurant) do %>
      <div class="btn-menu btn-yellow btn-menu-2">
        <%= image_tag 'bar-chart.png',class:"btn-menu__icon" %>
        <div class="btn-menu__name">
          statistiques
        </div>
      </div>
    <% end %>
  </div>
</div>