// ##### bouton orange
.btn-dashboard {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange_dashboard;
  transition: background 0.3s ease;

}

.btn-dashboard:hover {
  background: #be6703 ;
  color: white;
  text-decoration: none;
}
// ##### bouton orange

// ##### bouton rouge
.btn-nouveau-coupon {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $rouge_coupon;
  transition: background 0.3s ease;
}

.btn-nouveau-coupon:hover {
  background: #7e0b0b ;
  color: white;
  text-decoration: none;
}
// ##### bouton rouge

// ##### bouton jaune
.btn-scanner {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $jaune_scanner;
  transition: background 0.3s ease;
}

.btn-scanner:hover {
  background: #c4c24e ;
  color: white;
  text-decoration: none;
}
// ##### bouton jaune

// ##### bouton violet
.btn-ma-boutique {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $violet_boutique;
  transition: background 0.3s ease;
}

.btn-ma-boutique:hover {
  background: #2c045f ;
  color: white;
  text-decoration: none;
}
// ##### bouton violet

// ##### bouton card

.btn-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: $jaune_scanner;
  padding: 15px;
}


.btn-menu__icon {
  width: 75%;
  margin: auto;
}

.btn-menu__name {
  margin: auto;
  font-size: 1.3rem;
  color: white;
  margin-bottom: -9px;
  line-height: 21px;
  text-align: center;
}

.btn-yellow {
  background-color: $jaune_scanner;
}

.btn-violet {
  background-color: $violet_boutique;
}

.btn-red {
  background-color: $rouge_coupon;
}

.btn-orange {
  background-color: $orange_dashboard;
}
