// ########### BTN TEXT

.btn-text {
  color: $violet_boutique;
  text-decoration: underline;
}

//########### BTN TEXT

// ##### bouton orange
.btn-dashboard {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange_dashboard;
  transition: background 0.3s ease;
}

.btn-dashboard:hover {
  background: #be6703 ;
  color: white;
  text-decoration: none;
}

// ##### bouton orange

// ##### bouton rouge
.btn-nouveau-coupon {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $rouge_coupon;
  transition: background 0.3s ease;
}

.btn-nouveau-coupon:hover {
  background: #7e0b0b ;
  color: white;
  text-decoration: none;
}

.btn-redeem-red {
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  background: $rouge_coupon;
  transition: background 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 27px;
}


// ##### bouton rouge

// ##### bouton jaune
.btn-scanner {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: $jaune_scanner;
  transition: background 0.3s ease;
}

.btn-scanner:hover {
  background: #c4c24e ;
  color: white;
  text-decoration: none;
}

.btn-redeem-yellow {
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  background: $jaune_scanner;
  transition: background 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 27px;
}
.btn-go {
  padding: 8px 14px;
  background: transparent;
  transition: background 0.3s ease;
  border-radius: 10px;
  font-size: 18px;
  border: 3px solid $jaune_scanner;
  color: $jaune_scanner;
}


// ##### bouton jaune

// ##### bouton violet
.btn-offre {
  color: white;
  padding: 8px 14px;
  background: transparent;
  transition: background 0.3s ease;
  border-radius: 10px;
  font-size: 18px;
  border: 3px solid rgb(216, 216, 216);
  color: $violet_boutique;
}

.btn-creer-cercle {
  border-radius: 50px;
  color: white;
  justify-content: center;
  align-content: center;
  margin: 25px;
  padding: 15px;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  display: grid;
  background-color: $violet_boutique;
  font-size: xx-large;
}

.btn-offre-archived {
  color: white;
  padding: 8px 14px;
  background: #a7a7a7;
  transition: background 0.3s ease;
  border-radius: 10px;
  font-size: 18px;
}

.btn-offer-orga {
  margin: 10px;
}

.btn-offre-show {
  color: $violet_boutique;
  background: transparent;
  padding: 10px;
  transition: background 0.3s ease;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid $violet_boutique;
}

.btn-delete-orga {
  display: flex;
  justify-content: center;
}

.btn-offre-delete {
  color: white;
  background: $rouge_coupon;
  padding: 10px;
  transition: background 0.3s ease;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

.btn-offre:hover {
  background: #2c045f ;
  color: white;
  text-decoration: none;
}
// ##### bouton violet


// ##### bouton validation

.btn-validation {
  color: white;
  padding: 10px 55px;
  border-radius: 10px;
  background: $vert_validation;
  transition: background 0.3s ease;
  font-size: 25px;
  margin-top: 20px;
  width: min-content;
  display: block;
  margin: auto;
  margin-bottom: 70px;
}



// ##### bouton validation

.btn-footer {
  color: white;
  border-radius: 4px;
  background: $rouge_coupon;
  transition: background 0.3s ease;
  height: 50px;
  width: 50px;
  display: flex;
  margin-bottom: 16px;
  margin-left: 10px;
  margin-right: 10px;
}


.btn-footer:hover {
  background: #be6703 ;
  color: white;
  text-decoration: none;
}

.btn-footer__icon {
  width: 65%;
  margin: auto;
}
// ##### bouton card

.btn-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: $jaune_scanner;
  padding: 15px;
}


.btn-menu__icon {
  width: 75%;
  margin: auto;
}

.btn-menu__name {
  margin: auto;
  font-size: 1.3rem;
  color: white;
  margin-bottom: -9px;
  line-height: 21px;
  text-align: center;
}

.btn-yellow {
  background-color: $jaune_scanner;
}

.btn-violet {
  background-color: $violet_boutique;
}

.btn-red {
  background-color: $rouge_coupon;
}

.btn-orange {
  background-color: $orange_dashboard;
}

.swal-button--confirm {
  background-color: $vert_validation !important;
}
