.list-voucher-index {
  margin-top: 30px;
  margin-bottom: 150px;
  display: grid;
  align-items: center;
  color: white;
  text-align: center;
  grid-column-gap: 5px;
  grid-row-gap: 12px;
  justify-content: center;
}

.voucher-card {
  color: white;
  padding: 4px 24px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background-color: $orange_dashboard;
  width: 90%;
  color: white;
  display: block;
  margin: auto;
}

.voucher-card a {
  color: white;
}

.search-container {
  position: relative;
}

.search-container .search-input {
  height: 40px;
  background-color: $jaune_scanner;
  color: white;
  border-radius: 10px;
  &::placeholder {
    color: white;
  }
}

.search-container .search-icon {
  position: absolute;
  bottom: 11px;
  right: 20px;
  color: white;
}
