.text-orange {
  color: $orange_dashboard;
}
.text-rouge {
  color: $rouge_coupon;
}
.text-violet {
  color: $violet_boutique;
}
.text-jaune {
  color: $jaune_scanner;
}
.text-vert {
  color: $vert_validation;
}