.qrcode {
  margin: 0px auto;
  width: 100%;
  // height: 80px;
  justify-content: center;
  svg {
    object-fit: contain;
    transform: translate(0,0) scale(0.7);
    path {
      object-fit: contain;
    }
  }
}

.container-voucher-info {
border-style: 2px solid;
border-color: $jaune_scanner;
}
