<div class="container">
  <h2 class="text-orange text-center mb-3 mt-2">Tous les bons cadeaux</h2>
    <%= form_tag vouchers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Trouver un coupon"
    %>
    <%= submit_tag "Rechercher", class: "btn-dashboard" %>
    <% end %>

    <div class="list-voucher-index">
    <% @vouchers.each do |voucher| %>
      <div class= "voucher-card">
        <%= link_to "#{voucher.customer_email}", voucher_path(voucher)%>
      </div>
    <% end %>
  </div>
</div>   
  
  
